{# foodStore  #}
{% extends 'BundleProjectBundle::layout.html.twig' %}

{% block title %} Food stores {% endblock %}

{% block body %} 
    <article>
        <hgroup>
            <h1>Food store</h1>
            <h2>Query found # food stores in Cluj-N. (runing with limit of 60)</h2>
        </hgroup>
        
        <p>food stores page content..<p>   
    </article>
{% endblock %}
