{# src/Bundle/ProjectBundle/Resources/View/Page/index.html.twig #}
{% extends "BundleProjectBundle::layout.html.twig" %}
{% block title %} Index {% endblock %}

{# overwrite #}
{% block body %}
    <article>
        <hgroup>
            <h1>Places App</h1>
            <h2>Restaurants, Coffe Shops & more.</h2>
        </hgroup>
        
       <p>acticle content</p>
    </article>

    <article>
        <hgroup>
            <h1>Places App</h1>
            <h2>Restaurants, Coffe Shops & more.</h2>
        </hgroup>
    </article>
{% endblock %}
